@import "../../scss/general";

.organizations {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: $dark-text-color;
  &__header {
    margin: 1% 0;
    h1 {
      font-weight: 400;
    }
  }
  &__type {
    &_buttons {
      margin-top: 1%;
      display: flex;
      justify-content: center;
      p {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1%;
        padding: 0.5% 0.8%;
        min-width: 10%;
        max-width: 2.2em;
        text-transform: uppercase;
        color: $dark-text-color;
        font-size: 1em;
        font-weight: 100;
        cursor: default;
      }
    }
  }
  &__selected {
    border: 1px solid black;
  }
  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
    p {
      width: 30%;
    }
  }
  &__list {
    width: 70%;
    align-self: center;
    &_item {
      display: flex;
      justify-content: space-evenly;

      p {
        margin: 0;
      }
    }
    &_line {
      border-bottom: 1px solid black;
      margin: 1.5% 0;
    }
    &_first {
      width: 50%;
      h2 {
        text-align: left;
        margin: 0;
        font-size: 1.1em;
        font-weight: 400;
      }
      p {
        text-align: left;
      }
    }
    &_second {
      width: 50%;
      p {
        text-align: right;
      }
    }
  }
}
