@import "../../../scss/general";

.informations__fourth {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: $dark-text-color;
  &_buttons {
    p {
      margin: 0;
      padding: 2% 3%;
      border: 1px solid black;
      text-transform: uppercase;
      color: $dark-text-color;
      font-size: 2em;
      font-weight: 100;
    }
  }
}
