@import "../../scss/general";

.signout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $dark-text-color;
  &__window {
    &_buttons {
      display: flex;
      justify-content: center;
      p {
        padding: 0.7em 1em;
        &.signout__home-page {
          border: 1px solid black;
        }
      }
    }
  }
}
