@import "../../scss/general";

.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../../images/png/Background.png");
  background-position: top;
  background-size: cover;
  &__form {
    padding-right: 10%;
    form {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      label {
        margin-bottom: 3%;
        text-align: left;
        font-size: 1em;
      }
      input,
      textarea {
        background: none;
        border: none;
        border-bottom: 1px solid $line-color;
      }
    }
    &_top {
      margin-bottom: 8%;
      display: flex;
      justify-content: space-between;
      div {
        width: 48%;
        display: flex;
        flex-direction: column;
      }
    }
    &_bottom {
      display: flex;
      flex-direction: column;
    }
    &_submit {
      margin-top: 4%;
      padding: 2% 8%;
      align-self: flex-end;
      background-color: transparent;
      border: 1px solid $dark-text-color;
      &:hover {
        background-color: rgba(60, 60, 60, 0.1);
      }
      &:focus,
      &:active {
        background-color: rgba(60, 60, 60, 0.2);
        border: 1px solid $dark-text-color;
        border-radius: 0;
      }
    }
  }
}
