@import "../../../scss/general";

.informations__first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../../images/png/3_Col@2x.png");
  background-position: center;
  background-size: cover;
  color: $dark-text-color;
  &_item {
    width: 20%;
    h1 {
      margin: 0;
      font-weight: 100;
      font-size: 5em;
      color: $secondary-color;
    }
    p {
      margin: 0;
      &:nth-child(2) {
        margin: 5% 0;
        font-weight: bold;
        font-weight: 400;
      }
      &:nth-child(3),
      &:nth-child(4) {
        font-weight: 300;
        text-align: center;
      }
    }
  }
}
